 @import "bootstrap/dist/css/bootstrap.min.css";
 @import url("https://fonts.googleapis.com/css?family=Quicksand");

:root {
  --white: #ffffff;
  --main: #f9fafb;
  --section: #eff4fc;
  --blue: #1890ff;
  --dark-blue: #00246b;
  --light-blue: #8ab5f9;
  --black: #000000;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9fafb;
  box-sizing: border-box;
  -ms-overflow-style: none;
}

/* Allow scrolling but hide the scrollbar */
html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}


